#!groovy
//Disabled CSRF Protection, so plugins can be add with ansible
import hudson.security.csrf.DefaultCrumbIssuer
import jenkins.model.Jenkins

def instance = Jenkins.getInstance()

if(!instance.isQuietingDown()) {
    if(instance.getCrumbIssuer() != null) {
        instance.setCrumbIssuer(null)
        instance.save()
    }
}

